@page
@model CrudApp.Pages.Etudiants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].firstN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].lastN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].tel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Etudiant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
